<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.travel.persistance.UserDao">

	<insert id="user_insert">
		INSERT INTO user(
			id, password, name, dob
		) VALUES (
			#{id},#{password},#{name},#{dob}
		)
	</insert>
	
	<update id="user_update">
		UPDATE user
		SET
			password = #{password},
			password = #{password},
			dob = #{dob},
		WHERE id = #{id}
	</update>

</mapper> 